
*.mvfrm
Escape Room/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Escape Room/Library/ArtifactDB
Escape Room/Library/Artifacts/83/831d279bd28b847ac3bf876d6d136952
Escape Room/Library/Artifacts/9f/9f80672903657c194bcddeed28a5865d
Escape Room/Library/EditorInstance.json
Escape Room/Library/Search/transactions.db
Escape Room/Library/SourceAssetDB
Escape Room/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Escape Room/Temp/FSTimeGet-6128b4d46fda41d4181f8fefc97f1362
Escape Room/Temp/PropertyDatabase_1265138678
Escape Room/Temp/PropertyDatabase_2066312223
Escape Room/Temp/ScriptUpdater/808706298/1694868014_EditorUtility.cs
Escape Room/Temp/ScriptUpdater/808706298/888732201_ShapeEditor.cs
Escape Room/Temp/ScriptUpdater/808706298/messages.txt
Escape Room/Temp/ScriptUpdater/808706298/updates.txt
Escape Room/Temp/UnityLockfile
Escape Room/Temp/workerlic
Escape Room/Library/ArtifactDB
